.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.row>* {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;
}

* {
    box-sizing: border-box;
}

* {
    -webkit-font-feature-settings: "kern" 1, "kern";
    font-feature-settings: "kern" 1, "kern";
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    letter-spacing: .015em;
    word-spacing: 0.001em;
}

*,
:after,
:before {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.g-0,
.gy-0 {
    --bs-gutter-y: 0;
}

.g-0,
.gx-0 {
    --bs-gutter-x: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;
}

body,
html {
    font-family: Ubuntu, Source Sans Pro, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
    background-color: var(--bs-body-bg);
    color: #212529;
    color: var(--bs-body-color);
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    font-weight: var(--bs-body-font-weight);
    line-height: 1.5;
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #4ba68a;
    --bs-secondary: #eb5b00;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fd7e14;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-bg-footer: #f7f5fa;
    --bs-bg-carrousel: #4ba68a;
    --bs-text-carrousel: #1d1d1d;
    --bs-arrow-carrousel: #fff;
    --bs-bg-button: #eb5b00;
    --bs-text-button: #fcf8ef;
    --bs-hover-button: #d85400;
    --bs-bg-0800: #275e4e;
    --bs-text-0800: #fcf8ef;
    --bs-hover-0800: #3d8970;
    --bs-text-price: #4ba68a;
    --bs-border-price: #78f5c9;
    --bs-text-default: #1d1d1d;
    --bs-text-info: #7f8690;
    --bs-text-link: #00a988;
    --bs-icons: #7f8690;
    --bs-separator-vertical: #e0e0e0;
    --bs-separator-horizontal: #f2f2f2;
    --bs-description: #bcbcbc;
    --bs-card-payment-border: #f2f2f2;
    --bs-card-payment-text: #4f4f4f;
    --bs-label-field: #1d1d1d;
    --bs-bg-field: #fcf8ef;
    --bs-border-field: transparent;
    --bs-border-active: #c4c4c4;
    --bs-border-error: #f00000;
    --bs-border-success: #4ba68a;
    --bs-icons-success: #a6ff00;
    --bs-link-terms: #674aff;
    --bs-voucher-border: #4ba68a;
    --bs-bg-card-register: #4ba68a;
    --bs-bg-button-dependent: #275e4e;
    --bs-text-button-dependent: #fff;
    --bs-bg-button-dependent-remove: #fcf8ef;
    --bs-text-button-dependent-remove: #f00000;
    --bs-bg-dialog: #00604d;
    --bs-primary-rgb: 75,166,138;
    --bs-secondary-rgb: 235,91,0;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 253,126,20;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-bg-footer-rgb: 247,245,250;
    --bs-bg-carrousel-rgb: 75,166,138;
    --bs-text-carrousel-rgb: 29,29,29;
    --bs-arrow-carrousel-rgb: 255,255,255;
    --bs-bg-button-rgb: 235,91,0;
    --bs-text-button-rgb: 252,248,239;
    --bs-hover-button-rgb: 216,84,0;
    --bs-bg-0800-rgb: 39,94,78;
    --bs-text-0800-rgb: 252,248,239;
    --bs-hover-0800-rgb: 61,137,112;
    --bs-text-price-rgb: 75,166,138;
    --bs-border-price-rgb: 120,245,201;
    --bs-text-default-rgb: 29,29,29;
    --bs-text-info-rgb: 127,134,144;
    --bs-text-link-rgb: 0,169,136;
    --bs-icons-rgb: 127,134,144;
    --bs-separator-vertical-rgb: 224,224,224;
    --bs-separator-horizontal-rgb: 242,242,242;
    --bs-description-rgb: 188,188,188;
    --bs-card-payment-border-rgb: 242,242,242;
    --bs-card-payment-text-rgb: 79,79,79;
    --bs-label-field-rgb: 29,29,29;
    --bs-bg-field-rgb: 252,248,239;
    --bs-border-field-rgb: 0,0,0;
    --bs-border-active-rgb: 196,196,196;
    --bs-border-error-rgb: 240,0,0;
    --bs-border-success-rgb: 75,166,138;
    --bs-icons-success-rgb: 166,255,0;
    --bs-link-terms-rgb: 103,74,255;
    --bs-voucher-border-rgb: 75,166,138;
    --bs-bg-card-register-rgb: 75,166,138;
    --bs-bg-button-dependent-rgb: 39,94,78;
    --bs-text-button-dependent-rgb: 255,255,255;
    --bs-bg-button-dependent-remove-rgb: 252,248,239;
    --bs-text-button-dependent-remove-rgb: 240,0,0;
    --bs-bg-dialog-rgb: 0,96,77;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0,0,0,.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #4ba68a;
    --bs-link-hover-color: #3c856e;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

*,
:after,
:before {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: #78f5c9;
    background: var(--bs-border-price);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
    background: var(--bs-white);
    border-radius: 10px;
}